.cv-section__contents {
    padding-left: 20px;
}

.cv-section__title {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-weight: 500;
}