.skills {
    list-style-type: none;
    padding: 0px;
    line-height: 175%;
}

@media screen, print {
    .skills {
        lost-utility: clearfix;
    }

    .skills__item {
        lost-column: 1/3;
    }
}